# Restricted archaeological site data
/DATA/DALPOIMGUEDES_BOCINSKY_2017.xlsx

# Output
/OUTPUT
/OUTPUT/*

# Zenodo
/Zenodo
/Zenodo/*

# Nature
/Nature
/Nature/*

# Tar archives for Zenodo
*.tar.gz

# Mac trash files
.DS_Store
*/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user

# SLURM output
*.err
*.out
